
html,
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
form,
fieldset,
caption,
table,
tr,
td,
th,
address,
blockquote,
img {
	margin: 0;
	padding: 0;
	border: none;
}

*,
*:after,
*:before {
	box-sizing: border-box;
}

hr {
	display: none;
}

html,
body {
	height: 100%;
}

html{
	scroll-behavior: smooth;
}

body,
button,
input,
table,
textarea,
select {
	font: normal 16px/1.5 arial, helvetica, sans-serif;
}

:root {
	--base-scale: calc(100vw / 75);
	--h1-font-size: max(1em, min(4em, calc(var(--base-scale) * 4)));
	--h2-main-font-size: max(1em, min(4em, calc(var(--base-scale) * 2.5)));
	--h2-font-size: max(1em, min(1.5em, calc(var(--base-scale) * 1.5)));
	--h3-font-size: max(0.813em, min(1em, calc(var(--base-scale) * 1)));
	--mobile-font: max(0.613em, min(0.813em, calc(var(--base-scale) * 0.4)));
	--padding-size: max(0.5em, min(1em, calc(var(--base-scale) * 1)));
	--margin-size: max(0.5em, min(1em, calc(var(--base-scale) * 1)));
	--border-radius: max(0.5em, min(1em, calc(var(--base-scale) * 1)));

/* main 2 colors */
  --purple:hsl(302, 21%, 47%);
  --lavenda: hsl(306, 27%, 85%);

  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsla(0, 0%, 98%, 0.922); 
  --white: hsl(0, 0%, 100%);
  --black : hsl(0, 0%, 0%)

	--card-border: 1px solid var(--lavenda);
  
	/* dynamic paddings */
	--gap: min(1.5rem, 2vw);
}

body {
	margin: 0 auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--light-grayish-blue); 
  font-family: 'Kumbh Sans', sans-serif;
	
}

header h2,
header h3 {
	text-align: center;
}

h1,
h2,
h3 {
	padding: 0;
	margin: 0;
}

p,
input,
li {
	color: var(--very-dark-blue);
}

h1 {
	font-size: var(--h1-font-size);
	text-align: center;
}

h2 {
	font-size: var(--h2-font-size);
	text-align: center;
	color: var(--dark-grayish-blue);
	text-transform: uppercase;
	padding: 1rem;
}

h3 {
	font-size: var(--h3-font-size);
}
a{
	text-decoration: none;
}
#mainmenu .menu-icon {
	display: none;
}

p,
li {
	font-size: 1em;
	line-height: 1.5;
}

article,
aside {
	background-color: var(--white);
}

#app {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
}

#app > * + * {
	margin-block-start: 1rem;
}
#mainmenu > a {
	display: none;
  }
main {
	flex: 1 0;
}
main,
#site-header .wrapper,
#site-footer p {
	width: clamp(20rem, 90vw, 80rem);
	margin: auto;
}
#site-header{
	background-color: var(--lavenda);
position: sticky;
z-index: 999;
top: -10px;
box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);

}
#site-header .wrapper{
	display: flex;
	align-items: baseline;
	justify-content: space-between;
}

#site-header + * {
	margin: 1.5rem auto;
}
#site-header .wrapper > a,
#site-header .wrapper > h1  {
	color: var(--purple);
	text-decoration: none;
}

nav {
	padding: 0.5rem 1rem;
}

nav ul {
	padding: 0;
	list-style-type: none;
}

nav li {
	display: inline-block;
	text-align: center;
}

nav li + li {
	margin-left: var(--gap);
}

nav a {
	display: inline-block;
	text-transform: uppercase;
	text-decoration: none;
	color: var(--very-dark-blue);
}
#site-header .wrapper > a:hover,
nav a:hover {
	color: var(--dark-grayish-blue);
	
}
.cartBasket{
	position: relative;
}

.cartNumber{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 1.2rem;
	height: 1.2rem;
	background-color: var(--very-dark-blue);
	border-radius: 50%;
	padding: 0.55rem;
	font-size: 0.7rem;
	color: var(--white);
}

.cartNumber , .hero-bg, .products > *, .product, .contactus form  {
	display: flex;
	align-items: center;
	justify-content: center;
}
#site-footer {
	padding: 1.25em;
	background-color: var(--lavenda);
	border-top: 2px solid var(--purple);
	text-align: center;
	color: var(--very-dark-blue);
}
.hero-bg {
	position: relative;
	height: 40vh;
	margin-bottom: 2rem;
	z-index: 0;	
	color: var(--very-dark-blue);
	background-repeat: no-repeat;
	background-size: cover;
}
.hero-bg::before{
	content: "";
	position: absolute;
	inset: 0;
	background-color: rgba(144, 94, 142,0.5);
}
.women{
	background-image:url('./assets/clothes-big.jpg') ;
}
.jewelery{
	background-image:url('./assets/jewelery-big.jpg') ;
		background-position:top;
}
.hero-text{
	position: absolute;
z-index: 3;
width: 50%;
text-align: center;
}
.hero-text h2{
	font-size: var(--h2-main-font-size);
	color: var(--very-dark-blue);
	margin-bottom: 0;
}
.hero-text p{
	color: var(--white);
}
.products {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
	justify-items: center;
	gap: 1em;
	margin-inline: auto;
}

.products > * {
	--bg-color: transparent;
	text-align: center;
	flex-direction: column;
	background-color: var(--white);
	width: min(100%, 21rem);
	aspect-ratio: 12 / 16;
    gap:0.3rem;
	padding: var(--padding-size);
	margin: var(--margin-size);
box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
	overflow: hidden;
}

button,
.products a {
	text-decoration: none;
	color: var(--light-grayish-blue);
	background-color: var(--purple);
	padding:0.3rem 0.6rem;
	border-radius:var(--border-radius);
	transition: opacity 0.5s linear;
  }
  button {
	cursor: pointer;
	border: none;
  }
  button:hover,
.products a:hover {
	opacity: 0.8;

  }
  button:active,
.products a:active {
	scale:0.98
  }
  
  .products > *:hover a::before {
	background-color: hsla(0, 0%, 0%, 0.1);
  }
  
  .products h2,
  .products p {
	color: var(--dark-grayish-blue);
  }
  .products img {
	width: 90%;
	max-height: 60%;
	object-fit: contain;
	flex: 1 0;
  }
section h2{
	margin: 1rem;
}

  .product{
	margin: 0 auto;
    gap: 3rem;
	background-color: var(--light-grayish-blue); 
	overflow: hidden;
  }
  .product div{
	display: flex;
	flex-direction: column;
     text-align: right;
	align-items: flex-end;
	gap: var(--gap);
	padding: var(--padding-size);
	width: 40%;
  }

  .product div p:first-of-type{
	color: var(--dark-grayish-blue);
	font-weight: bold;
  }

.product img{
	order: -1;
	padding: 1rem;
	max-width: 30%;
	background-color: var(--white);
}

.cutoff-text{
	--max-lines:4;
	--line-height: 1.1;
	max-height:calc(var(--max-lines)* 1em* var(--line-height) );
	overflow: hidden;
	position: relative;
	padding: 0.2rem;
}
.cutoff-text::before{
	position: absolute;
	content: '';
	height: 1rem;
	width: 100%;
	bottom: 0;
	pointer-events: none;
}

.expand-btn{
appearance: none;
padding: 0 0.3rem;
cursor: pointer;
color: var(--dark-grayish-blue);
transition: color 0.5s linear;
}

.expand-btn:hover{
color: var(--very-dark-blue);
}
.expand-btn::before{
	content: "more ↓";
	border-bottom: 1px solid var(--purple);
}
.expand-btn:checked::before{
	content: "hide ↑" ;
	border-bottom: 1px solid var(--purple);
}

.cutoff-text:has(+ .expand-btn:checked){
	max-height:none;
}

.cart {
	width: 100%;
	border-collapse: collapse;
	text-align: center;
  }

  .cart tr{
	border-bottom: 1px solid var(--lavenda);
  }
  .cart th,
  .cart  td {
	padding: 1rem;
	text-align: left;
	
  }
  .cart tbody td {
	padding: 2rem 0.5rem;
	margin: auto;
  }

  .cart  a{
	color: var(--very-dark-blue);
  }

  .cart th {
	background-color: var(--lavenda);
  }
  .cart tbody tr:hover {
	background-color: #f5f5f5;
  }
  
  .cart img {
	width: 4rem;
	vertical-align: middle;
  }
  
  .cart h3 {
	margin: 0;
	padding-left: 0.6rem;
  }
  
  .cartQuantity span {
	padding: 0 0.4rem;
  }
  
  .cart th:last-child,
  .cart td:last-child {
	text-align: right;
  }
  .cart tfoot {
	width: 100%;
	background-color: #f2f2f2;
	border-top: 1px solid var(--lavenda);
	padding: 10px;
	text-align: right;
	font-weight: bold;
  }
  
  .cart td h3 {
	display: inline;
	margin: 0;
	padding-left: 0.8rem;
  }

  .cart button{
	font-size: 0.8rem;
  }
  .cartPrice button {
	background-color: transparent;
	color: var(--very-dark-blue);
  }
  .cartPrice p {
	display: inline;
  }
  .about-us ul{
	display: flex;
	margin: 2rem 0;
	padding: var(--padding-size);
	text-align: center;
	gap: var(--gap);
	list-style: none;
  }

  .about-us ul li svg{
color: var(--lavenda);
  }

  .about-us  p{
font-size:var(--h3-font-size);
margin-top: 0.5rem;
  }

  .about-us article h3{
	color: var(--purple);
margin-bottom: 1rem;
font-size: var(--h2-font-size);
  }
 
  .about-us img{
width: 50%;
display: block;
  }
  .about-us article{
display: flex;
gap: var(--gap);
align-items: center;
background-color: var(--lavenda);
  }
  .about-us article div{
padding: var(--padding-size);
  }

  .about-us .company{
order:-1;
  }
  .contactus{
	text-align: center;
  }
  .contactus form{
	background-color: var(--lavenda);
	box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
	width: min(100% - 2rem, 40rem);
	margin-inline: auto;

  }
  fieldset{
	padding: var(--padding-size);
	background-color: var(--white);
  }
 form  header {
	background-color: var(--lavenda);
	padding: var(--padding-size);
	width: 50%;
 }
 form  header h3 {
	font-size: var(--h2-font-size);
	margin: var(--margin-size);

 }
 form  header img {
display: block;
width: 30%;
margin: 1rem auto;
 }

  form label {
	display: block;
	text-align: left;
	font-size: var(--h3-font-size);
	margin: var(--margin-size);
  }
  
  .contactus input, select, textarea {
	width: 100%;
  } 

@media (max-width: 80rem) {
	.product img {
	  max-width: 60%;
	}
}
@media(max-width: 50rem) {
	 #site-header .wrapper{
		padding: 0.5rem 1rem;
	}
	  #mainmenu .menu-icon {
		display: block;
		font-size: 1.4rem;
		color: var(--purple);
	  }
	  #mainmenu .nav-elements {
		display: none;
		position: fixed;
		top: 0;
		height: 100vh;
		width: 50%;
		background-color:var(--purple);
		padding: var(--padding-size);
		left: -99em; 
		transition: transform 0.5s;
	  }
	  #mainmenu .nav-elements.active {
		display: block;
		left: 0;
	  } 
	  #mainmenu .nav-elements.active::before {
		content: "";
		position: absolute;
		top: 0;
		right: -100%;
		width: 100%;
		height: 100vh;
		background-color: rgba(0, 0, 0, 0.7);
	  }
	  #mainmenu .nav-elements ul {
		display: flex;
		flex-direction: column;
		margin-top: 2rem;
		padding: var(--padding-size);
	  }
	  nav li + li {
		margin-left:0;
	}
	  #mainmenu .nav-elements ul li a {
		font-size: var(--h2-main-font-size);
		margin-block: 2rem;
		color: var(--lavenda);
	  } 
	.product{
	flex-direction: column;
	}
	.product div{
	flex-direction: column;
	width: 100%;
	align-items: center;
	text-align: center;	
	}
	#site-header {
		align-items: center;
		padding: 0.5rem 1rem;
		position: relative;
	}
	.hero-bg {
		align-items: flex-end;
		padding: var(--padding-size);
	}
	.about-us img{
		width: 100%;
	
		  }.cart td,
		  .cart th:last-child,
		.cart td:last-child{
			text-align: center;
		}
		  .about-us article,
		  .about-us ul{
			flex-wrap: wrap;
			text-align: center;
		}
		  .about-us ul li{
			margin: 1rem;
		}
		.contactus form{
			flex-direction: column;
		}
		.cart td a h3 {
			display: inline-block;
			inline-size: 80%;
			overflow: hidden;
			text-align: center;
		}
		/* .cartQuantity{
			display: flex;
			justify-content: flex-end;
		    align-items: center;
			flex-direction: column;
		} */
			.women{
				background-image:url('./assets/clothes-small.jpg') ;}
			.jewelery{
				background-image:url('./assets/jewelery-small.jpg') ;}
			.hero-text{
				width: 85%;
			}
			.hero-text p{
				font-size:var(--h3-font-size);
			}
			}
